.Map {
    width: 30vw;
    height: 30vw;
    border: solid 0.1vw #222;
    display: inline-block;
    margin: 1vw;
    background-color: #dcdcdc;
    position: relative;
}

.lane {
    background-color: #333;
    width: 8vw;
    height: 18vw;
    position: absolute;
}

.lane:nth-child(1) {
    transform: rotate(90deg);    
    top: 6vw;
    left: 4.9vw;
}

.lane:nth-child(2) {  
    top: 0;
    left: 11vw;
}

.lane:nth-child(3) {
    transform: rotate(90deg);    
    top: 6vw;
    right: 4.9vw;
}

.lane:nth-child(4) {  
    bottom: 0vw;
    left: 11vw;
}

.car {
    width: 1vw;
    height: 2vw;
    position: absolute;
    background-color: red;
}