.Map {
    width: 500px;
    height: 500px;
    border: solid 1px #222;
    display: inline-block;
    margin: 10px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.vehicle {
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}