

.Videos {    
    width: 540px;
    height: 408px;
    position: relative;
    margin: 10px;
    vertical-align: top;
}

.Videos, .Video {
    display: inline-block;
}

.Video:nth-child(1) {
    top: 0;
    left: 0;
}
.Video:nth-child(2) {
    top: 0;
    right: 0;
}
.Video:nth-child(3) {
    bottom: 0;
    left: 0;
}
.Video:nth-child(4) {
    bottom: 0;
    right: 0;
}

.Video {
    border: solid 0.1vw #222;
    position: absolute;
    width: 49%;
    height: 49%;    
    margin: 0;
}
.Video p {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: 0;
}